{% extends "BlogBundle::base.html.twig" %}


{% block content %}


		<div id="category">
			
				<h2>{{ category.title }}</h2>

				<p>{{ category.description }}</p>
				<p>{{ category.slug }}
		</div>


		<a href="{{ path('blog_index') }}">retour</a>


{% endblock content%}