{% extends "BlogBundle::base.html.twig" %}


{% block content %}


		<div id="post">
			

				<p>{{ post.category_id }}</p>
				<p>{{ post.slug }}</p>
		</div>


		<a href="{{ path('blog_index') }}">retour</a>


{% endblock content%}